# dependencies
node_modules/
.pnp
.pnp.*

# next.js / build output
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# env & secrets
.env
.env.*
*.pem
*.key
*.pfx
*.p12

# logs
*-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
Thumbs.db

# vercel
.vercel
